.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #201f1f;
  padding: 30px 0;
  margin-bottom: 40px;
  a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}